[Unit]
Description=DOI Destinations

[Service]
Type=simple
PIDFile=/var/run/doi-destinations.pid
WorkingDirectory=/home/deploy/doi-destinations
Environment=CONFIG=/home/deploy/doi-destinations/config/prod/config.edn
ExecStart=/usr/bin/java -jar /home/deploy/doi-destinations/target/uberjar/doi-destinations-0.1.0-SNAPSHOT-standalone.jar run
Restart=on-abort
User=deploy

[Install]
WantedBy=multi-user.target
