strong {
  font-weight: bold;
}

a {
  /*text-decoration:  underline;*/
}

.itemTitle {
   font-size: 1.5em;
}

.citeAction {
  vertical-align: middle !important;
  text-align: center;
}

.btn {
  margin: 5px;
}

.navbar-brand {
  text-decoration: none;
  color: red;
}

.cr-red {
    color: #c0473f;
}

.cr-grey {
    color: #514746;
}

a, a:hover, a:visited {
    color: #c0473f;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu li a:hover {
    background-color: #c0473f;
}

.navbar {
  #font-size: 1.9em;
  background-color: white;
}

.navbar-brand {
  font-size: 1.8em;
}

.white-shadow {
    text-shadow: 1px 1px 6px #fff;
}

.black-shadow {
  text-shadow: 2px 2px 4px #444;
  color: #ffffff;
}

.navbar {
    border-radius: 0;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 2px solid #eee;
    border-color: #bbb;
}

.jumbotron-top h2 {
    font-size: 2.6em;
    font-weight: 15;
}

.jumbotron-top {
    border-top: 2px solid #eee;
    border-color: #bbb;
    padding-top: 12em;
    padding-bottom: 8em;
    margin-bottom: 0px;
    background: url(../img/network-mod.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-bottom {
  text-align: center;
  margin-top: 0px;
  background-color: #eee;
  padding: 2em;
  height: em;
}

.jumbotron form {
    margin-top: 2em;
}

.jumbotron input {
    font-size: 1.8em;
    height: 1.8em;
}

.field-helper {
    vertical-align: bottom;
}

.well {
    background-color: #fcfcfc;
}

.well p {
    font-size: 1.1em;
}

.thumbnail img {
  width: 200px;
  height: 150px;
}

.thumbnail {
    height: 410px;
}

.boxy:hover {
    text-decoration: none;
}

.boxy:hover > div {
    webkit-box-shadow: 0px 0px 10px 0px #c0473f;
    -moz-box-shadow: 0px 0px 10px 0px #c0473f;
    box-shadow: 0px 0px 10px 0px #c0473f;
}

.link-icon {
    margin-right: 5px;
}

.panel-title {
    margin-top: 0px;
    margin-bottom: 20px;
}

.page-title {
    margin-bottom: 20px;
}

.sidebar-block {
  margin-bottom: 30px;
}

.table-hover-pointer {
    cursor: pointer;
}

.text-grey {
    color: #bbb;
}

body {
    font-size: 17px;
    /*Needed for some long DOIs and URLs!*/
    word-wrap: break-word;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}

.fadein {
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/** Metricsgraphics */


   .markers text {
    fill: black;
    font-size: 1.1rem !important;
    opacity: 1;
    }


    .x-axis text,
.y-axis text,
.histogram .axis text {
    fill: black;
    font-size: 1.1rem;
    opacity: 0.5;
}

.x-axis .label,
.y-axis .label,
.axis .label {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
}

.x-axis-small text,
.y-axis-small text,
.active-datapoint-small {
    font-size: 0.6rem;
}

.x-axis-small .label,
.y-axis-small .label {
    font-size: 0.65rem;
}

.year-marker text {
    fill: black;
    font-size: 1.3rem;
    opacity: 0.5;
}

.year-marker line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.year-marker-small text {
    font-size: 0.6rem;
}

.extra-info {
  font-size: 0.8em;
}

.event-table {
  font-size: 0.9em;
}

.event-table td {
  max-width: 30em;
}

.navbar-header {
  /*height: 100px;*/
  display: block;
  margin-top: 10px;
}

body {
  padding-top: 120px;
}

@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=e98f5793-4cb3-43cf-9c5a-90c30937c6bd&fontids=903184,903187,903190,903193,903196,903199,903202,903205");
@font-face{
font-family:"HelveticaNeueETW01-45Lt";
src:url("https://assets.crossref.org/private/fonts/903184/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix");
src:url("https://assets.crossref.org/private/fonts/903184/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix") format("eot"),url("https://assets.crossref.org/private/fonts/903184/b8765d4b-d9a3-48b9-ac65-560e7517cf0e.woff2") format("woff2"),url("https://assets.crossref.org/private/fonts/903184/d7d2e6c6-fc3a-41a5-9b52-648e12e215b2.woff") format("woff"),url("https://assets.crossref.org/private/fonts/903184/cb64744b-d0f7-4ef8-a790-b60d6e3e4f21.ttf") format("truetype"),url("https://assets.crossref.org/private/fonts/903184/ccde919e-a712-41ef-b90f-9efc47661659.svg#ccde919e-a712-41ef-b90f-9efc47661659") format("svg");
}

@font-face{
font-family:"HelveticaNeueETW01-65Md";
src:url("https://assets.crossref.org/private/fonts/903196/a747e1ea-ecdf-4f3d-ad47-3df9cfbee3cc.eot?#iefix");
src:url("https://assets.crossref.org/private/fonts/903196/a747e1ea-ecdf-4f3d-ad47-3df9cfbee3cc.eot?#iefix") format("eot"),url("https://assets.crossref.org/private/fonts/903196/3e8a8b56-3cb0-4347-b670-eaaf06b76e9b.woff2") format("woff2"),url("https://assets.crossref.org/private/fonts/903196/07173950-fa69-4b65-9c71-0cf2ec00b51d.woff") format("woff"),url("https://assets.crossref.org/private/fonts/903196/aac5a4b8-ffd3-4529-a098-21b91bc86f9a.ttf") format("truetype"),url("https://assets.crossref.org/private/fonts/903196/2379b081-2371-47d9-8be9-4e39d7892ebf.svg#2379b081-2371-47d9-8be9-4e39d7892ebf") format("svg");
}

body {
font-family:'HelveticaNeueETW01-45Lt';
font-style: normal !important;
}

h1, h2, h3 {
font-family:'HelveticaNeueETW01-65Md';
}
